# IntelliJ Files
*.iml
.idea/*

# NPM modules
node_modules/*

# Test coverage reports
coverage/*

# Build outputs
dist/*

# Tests
test/*

# Other configuration files
.gitignore
.travis.yml
Gruntfile.js
